body {
    width: auto;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.line-plot-row {
    height: 60vh;
}

.height-400 {
    height: 400px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}
